

.ramka{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 16px;
}

.accordion{
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
  border-left: 0.5px solid rgba(0, 0, 0, 0.15);
  border-right: 0.5px solid rgba(0, 0, 0, 0.15);
}

.header.active{
  padding: 16px 20px;
  background-color: rgb(0, 0, 255, 0.1);
}

.header{
  padding: 16px 20px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.header img{
  align-self: center;
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}

.header.active img{
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
}

.accordion-body.active{
  padding: 16px;
  max-height: 700px;

  transition: max-height .3s, padding .3s ease-out;
}

.accordion-body{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);

  padding: 0 16px;
  max-height: 0;
  
  transition: max-height .3s, padding .3s ease-out;
  
}
